* {
  margin: 0;
  padding: 0;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
}

:root {
  --primary-clr: #0d0d10;
  --griffingdor-clr: #ce373d;
  --slytherin-clr: #377f6a;
  --huffelpuff-clr: #e6a038;
  --ravenclaw-clr: #445393;
  --text-clr: #ffffff;
}
body {
  width: 95vw;
  height: 100vh;
  background-image: url(../images/background-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal; */
}
/* Header section starts here */
header {
  display: flex;
  justify-content: space-around;
}
.logo {
  width: 18rem;
}
.logo:hover {
  opacity: 60%;
}
nav ul {
  margin: 0.6rem;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 1em;
  position: relative;
}
nav a {
  text-decoration: none;
  padding: 0.5em;
  text-transform: uppercase;
  color: white;
  font-size: 1.3rem;
}
nav a:hover,
nav a:focus {
  color: var(--huffelpuff-clr);
}
nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: var(--huffelpuff-clr);
  position: absolute;
  top: 0;
  margin-top: 1.5rem;
  border-radius: 2px;
  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}

@media (min-width: 60rem) {
  .logo {
    float: left;
  }

  nav {
    float: right;
  }
}

/* Styles på overskrift */
.tittel {
  text-align: center;
  position: relative;
  font-size: 22px;
  padding: 20px;
  margin-bottom: 40px;
}

/* Had to do it like this because the text wouldnt change color on the class itself */
.tittel h1 {
  background-image: linear-gradient(
    to right,
    var(--griffingdor-clr),
    var(--griffingdor-clr),
    var(--slytherin-clr),
    var(--huffelpuff-clr),
    var(--ravenclaw-clr),
    var(--ravenclaw-clr)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* The searchbar styles */
.searchbar-container {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.searchbar {
  width: 30%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
}

/* The styling of the House cards */
.grid {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.front {
  position: absolute;
  backface-visibility: hidden;
}

.back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.flipCard {
  transform: rotateY(180deg);
}

/* Dropdown menu */
select {
  font-family: mr-darcy, sans-serif;
  border: none;
  background: transparent;
  width: 260px;
  height: 1.5em;
  font-size: 1em;
}

#houseDropdown.dropdown-content {
  width: 740px;
}

/* Create student styles */
.create-student-container {
  margin: 2em auto 0 auto;
  background-image: url(../images/pergament.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 50em;
  height: 25rem;
  padding: 2em;
  cursor: url(../images/pngwing.png), auto;
}

.logo-header-container {
  margin: 2em 0 0 7em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.hogwarts-logo {
  width: 100px;
}

.new-student-header {
  margin: 0.5em 0 1em 0;
}

.input-container {
  width: 100%;
  padding: 0 1em 1em 1em;
}

.create-name-input,
.create-house-input,
.create-age-input,
.create-alive-input {
  margin: 0.5em;
  width: 50%;
  border-radius: 17px;
  height: 33px;
  padding-left: 1em;
  border: none;
  background-color: transparent;
  font-size: 1em;
}

.create-student-btn {
  border: none;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 200px;
  border-radius: 8px;
  background-color: var(--huffelpuff-clr);
}

.create-student-btn:hover {
  cursor: pointer;
  background-color: var(--slytherin-clr);
  color: white;
}

::placeholder {
  text-transform: uppercase;
  font-family: mr-darcy, sans-serif;
  color: var(--primary-clr);
}

.default-student-img {
  width: 100px;
  height: 100px;
}

.exit-btn,
.save-student-btn {
  width: 10em;
  margin: 0.5em 2.5em;
  padding: 0.7em;
  border-radius: 10px;
  border: none;
}
.exit-btn {
  background-color: var(--griffingdor-clr);
}

.exit-btn:hover {
  background-color: var(--huffelpuff-clr);
}

.save-student-btn {
  background-color: var(--slytherin-clr);
}

.save-student-btn:hover {
  background-color: var(--huffelpuff-clr);
}

.character-list-container {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}

.characters-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}

.character {
  list-style-type: none;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 4fr auto;
  grid-template-areas:
    "name image"
    "house image"
    "status image"
    "status image";
  text-align: left;
  border: 1px solid rgba(68, 83, 147, 0.8);
  transition: transform 500ms ease-in-out;
}

.character > h2 {
  grid-area: name;
  margin-bottom: 0px;
}

.character-house {
  grid-area: house;
  margin: 0;
  margin-top: -18px;
}

.character-age {
  grid-area: status;
}

.character-image {
  max-height: 150px;
  grid-area: image;
  display: flex;
  justify-content: center;
}

.character-status-dead {
  grid-area: status;
  color: red;
  font-size: larger;
  text-shadow: black 1px 4px;
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: white;
}
.character:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(147, 68, 147, 0.8),
    inset 0 0 10px 5px rgba(68, 83, 147, 0.8);
}

/* specific background color for every house */
.Gryffindor {
  background-color: var(--griffingdor-clr);
}
.Slytherin {
  background-color: var(--slytherin-clr);
}
.Hufflepuff {
  background-color: var(--huffelpuff-clr);
}
.Ravenclaw {
  background-color: var(--ravenclaw-clr);
}
