* {
  margin: 0;
  padding 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url(/images/Harry-Potter-background.jpg);
}

a {
    color: white;
}

/* header */



/* Wrapper Cards begynner her */

.wrapper {
  padding: 40px 0;
  width: 100%;
  margin: 20px auto;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 20px;
  align-items: stretch;
}

.grid > cards {
  background-color: whitesmoke;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid > cards img {
  max-width: 100%;
}

.grid > cards img:hover {
  opacity: 60%;
}

.grid .text {
  padding: 20px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 528px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
