body {
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 40px;
  margin: 0 auto;
  width: 100%;
}

.characters-list {
  margin-top: 25px;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.character {
  list-style-type: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "name image"
    "house image"
    "status image"
    "status image";
  text-align: left;
}

.character > h2 {
  grid-area: name;
  margin-bottom: 0px;
}

.character-house {
  grid-area: house;
  margin: 0;
  margin-top: -18px;
}

.character-age {
  grid-area: status;
}

.character-image {
  max-height: 150px;
  grid-area: image;
  display: flex;
  justify-content: center;
}

.character-status-dead {
  grid-area: status;
  color: red;
}

.searchbar-container {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.searchbar {
  width: 30%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
}

.create-student-btn {
  border: none;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 200px;
  border-radius: 8px;
  background-color: #e6a038;
}

.create-student-btn:hover {
  cursor: pointer;
  background-color: #377f6a;
  color: white;
}
