* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-clr: #0d0d10;
  --griffingdor-clr: #ce373d;
  --slytherin-clr: #377f6a;
  --huffelpuff-clr: #e6a038;
  --ravenclaw-clr: #445393;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/background-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Header section starts here */
header {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 18rem;
}

.logo:hover {
  opacity: 60%;
  border: #0d0d10;
}

nav ul {
  margin: 0.6rem;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
  position: relative;
}

nav a {
  text-decoration: none;
  padding: 0.5em;
  text-transform: uppercase;
  color: white;
  font-size: 1.3rem;
}

nav a:hover,
nav a:focus {
  color: #e6a038;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #e6a038;
  position: absolute;
  top: 0;
  margin-top: 1.5rem;
  border-radius: 2px;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

@media (min-width: 60rem) {
  .logo {
    float: left;
  }

  nav {
    float: right;
  }
}

/* Header and teachers list */
.container {
  padding: 40px;
  margin: 0 auto;
}
h1 {
  padding: 10px;
  text-align: center;
  position: relative;
  font-size: 3.3rem;
  background-image: linear-gradient(
    to right,
    var(--griffingdor-clr),
    var(--griffingdor-clr),
    var(--slytherin-clr),
    var(--huffelpuff-clr),
    var(--ravenclaw-clr),
    var(--ravenclaw-clr)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.btn-container {
  text-align: center;
  padding: 5px 0 40px 0;
}

/* styling create new teacher form */
.create-teacher-btn {
  border: none;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  background-color: #e6a038;
  margin: 30px;
}

.create-teacher-btn:hover {
  background-color: #377f6a;
  color: white;
}

.create-teacher-container {
  margin: 0.7em auto 0 auto;
  background-image: url(../images/pergament.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 50em;
  height: 25rem;
  padding: 1.5em;
  cursor: url(../images/pngwing.png), auto;
}

.logo-header-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 20px;
}

.hogwarts-logo {
  left: 20em;
  width: 70px;
}

.new-teacher-header {
  margin: 0.5em 0 1em 0;
}

.input-container {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}

.create-name-input,
.create-house-input,
.create-patronus-input {
  margin: 0.5em;
  width: 50%;
  border-radius: 17px;
  height: 33px;
  padding-left: 1em;
  border: none;
  background-color: transparent;
  font-size: 1em;
}

::placeholder {
  text-transform: uppercase;
  font-family: mr-darcy, sans-serif;
  color: var(--primary-clr);
}

.default-teacher-img {
  width: 100px;
  height: 100px;
}

/* Dropdown menu */
select {
  font-family: mr-darcy, sans-serif;
  border: none;
  background: transparent;
  width: 322px;
  height: 1.5em;
  font-size: 1em;
}

#houseDropdown.dropdown-content {
  width: 800px;
}

.exit-btn,
.save-btn {
  width: 10em;
  margin: 0.5em 1em;
  padding: 0.7em;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  font-family: mr-darcy, sans-serif;
}

.exit-btn {
  background-color: var(--griffingdor-clr);
}

.exit-btn:hover {
  opacity: 90%;
}

.save-btn {
  background-color: var(--slytherin-clr);
}

.save-btn:hover {
  background-color: var(--huffelpuff-clr);
}

/* styling the teacher list and teacher Cards */
.teacher-list {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}

li > img {
  width: 100px;
  height: 150px;
}

.teacher {
  list-style-type: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas:
    "name image"
    "house image"
    "patronus image"
    "delete-btn image"
    "edit-btn image";
  text-align: left;
  border: 1px solid rgba(68, 83, 147, 0.8);
  transition: transform 500ms ease-in-out;
}

.teacher > h2 {
  grid-area: name;
}

.teacher-house {
  grid-area: house;
}

.teacher-patronus {
  grid-area: patronus;
  margin: 0;
  margin-top: 3px;
  visibility: hidden;
  background-image: linear-gradient(
    to right,
    var(--griffingdor-clr),
    var(--griffingdor-clr),
    var(--slytherin-clr),
    var(--ravenclaw-clr),
    var(--ravenclaw-clr)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.teacher:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(68, 83, 147, 0.8),
    inset 0 0 10px 5px rgba(68, 83, 147, 0.8);
}

.teacher:hover > .teacher-patronus {
  visibility: visible;
}

.teacher-list > li {
  list-style-type: none;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas:
    "name image"
    "house image"
    "patronus image"
    "delete-btn image"
    "edit-btn image";
  text-align: left;
  border: 1px solid rgba(68, 83, 147, 0.8);
  transition: transform 500ms ease-in-out;
}

.teacher-list > li:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(68, 83, 147, 0.8),
    inset 0 0 10px 5px rgba(68, 83, 147, 0.8);
}

.teacher-gryffindor {
  background-color: var(--griffingdor-clr);
}

.teacher-slytherin {
  background-color: var(--slytherin-clr);
}

.teacher-hufflepuff {
  background-color: var(--huffelpuff-clr);
}

.teacher-hufflepuff > .btns {
  background-color: var(--primary-clr);
  color: #fff;
}

.teacher-ravenclaw {
  background-color: var(--ravenclaw-clr);
  color: #fff;
}

.teacher-gryffindor:hover > .teacher-patronus,
.teacher-slytherin:hover > .teacher-patronus,
.teacher-ravenclaw:hover > .teacher-patronus {
  visibility: visible;
  background-image: linear-gradient(
    to right,
    #fff,
    var(--huffelpuff-clr),
    #fff,
    var(--huffelpuff-clr)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.teacher-hufflepuff:hover > .teacher-patronus {
  visibility: visible;
  background-color: linear-gradient(
    to right,
    var(--griffingdor-clr),
    var(--griffingdor-clr),
    var(--slytherin-clr),
    var(--ravenclaw-clr),
    var(--ravenclaw-clr)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

img {
  max-height: 150px;
  grid-area: image;
  display: flex;
  justify-content: center;
}

.btns {
  border: none;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 200px;
  border-radius: 8px;
  background-color: var(--huffelpuff-clr);
  margin-bottom: 5px;
}

.delete-btn {
  grid-area: delete-btn;
}

.edit-btn {
  grid-area: edit-btn;
}

.delete-btn:hover,
.edit-btn:hover {
  opacity: 80%;
}

/* Styling of edit teacher card*/
.edit-teacher {
  background-image: url(../images/Old\ paper.png);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 2rem);
  text-align: left;
}

input {
  background-color: #251a0833;
  grid-column: 1 / span 2;
  margin: 3px;
  padding: 8px;
  border-radius: 8px;
  border: 0.5px solid #251a08b8;
  text-transform: uppercase;
  font-family: mr-darcy, sans-serif;
  color: var(--primary-clr);
}

.edit-teacher > button {
  border: none;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  height: 28px;
  width: 180px;
  border-radius: 8px;
  background-color: #251a08b8;
  color: white;
  margin: 3px;
}
