* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-clr: #0d0d10;
  --griffingdor-clr: #ce373d;
  --slytherin-hoover-button-clr: #377f6a;
  --huffelpuff-button-clr: #e6a038;
  --ravenclaw-clr: #445393;
}
/* Prøvde og sette inn tryllestav som musepeker med det funka ikke (Passer nok best på side 2) */
/* html {
  cursor: url("../images/Wand.png"), auto;
  height: 100%;
} */

body {
  width: 100%;
  min-height: 100vh;
  background-image: url(../images/Harry-Potter-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Header begynner her */

header {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 18rem;
}

.logo:hover {
  opacity: 60%;
}

nav ul {
  margin: 0.6rem;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
  position: relative;
}

nav a {
  text-decoration: none;
  padding: 0.5em;
  text-transform: uppercase;
  color: white;
  font-size: 1.3rem;
}

nav a:hover,
nav a:focus {
  color: #e0c53b;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #e0c53b;

  position: absolute;
  top: 0;
  margin-top: 1.5rem;
  border-radius: 2px;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

@media (min-width: 60rem) {
  .logo {
    float: left;
  }

  nav {
    float: right;
  }
}

/* heading and teachers list */

h1 {
  padding: 10px;
  text-align: center;
  position: relative;
  font-size: 4rem;
  background-image: linear-gradient(
    to right,
    #ce373d,
    #ce373d,
    #377f6a,
    #e6a038,
    #445393,
    #445393
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.btn-container {
  text-align: center;
  padding: 5px 0 40px 0;
}
.create-teacher-btn {
  border: none;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  background-color: #e6a038;
  margin: 30px;
}

.create-teacher-btn:hover {
  opacity: 80%;
}

.create-teacher-container {
  margin: 0.7em auto 0 auto;
  background-image: url(/images/pergament.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 50em;
  height: 25rem;
  padding: 1.5em;
  cursor: url("./images/pngwing.com\ \(8\).png"), auto;
}

.edit-teacher-container {
  margin: 0.7em auto 0 auto;
  background-image: url(../images/Old\ paper.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 50em;
  height: 25rem;
  padding: 1.5em;
  cursor: url("../images/pngwing.com\ \(8\).png"), auto;
}

.logo-header-container {
  /* padding-left: 10em; */
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 20px;
  /* width: 100%; */
}

.hogwarts-logo {
  /* position: absolute; */
  left: 20em;
  width: 70px;
}

.new-teacher-header {
  margin: 0.5em 0 1em 0;
}

.input-container {
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}

.create-name-input,
.create-house-input,
.create-patronus-input {
  margin: 0.5em;
  width: 50%;
  border-radius: 17px;
  height: 33px;
  padding-left: 1em;
  border: none;
  background-color: transparent;
}

::placeholder {
  text-transform: uppercase;
  font-family: mr-darcy, sans-serif;
  color: var(--primary-clr);
}

.default-teacher-img {
  width: 100px;
  height: 100px;
}

.exit-btn,
.save-btn {
  width: 10em;
  margin: 0.5em 1em;
  padding: 0.7em;
  border-radius: 10px;
  border: none;
}
.exit-btn {
  background-color: var(--griffingdor-clr);
}

.save-btn {
  background-color: var(--slytherin-hoover-button-clr);
}

.save-btn:hover {
  background-color: var(--huffelpuff-button-clr);
  color: var(--button-clr);
}

.container {
  padding: 40px;
  margin: 0 auto;
  /* width: 100%; */
}

.teacher-list {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}

.teacher {
  list-style-type: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas:
    "name image"
    "house image"
    "patronus image"
    "delete-btn image"
    "edit-btn image";
  text-align: left;
  border: 1px solid rgba(68, 83, 147, 0.8);
  transition: transform 500ms ease-in-out;
}

.teacher:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(68, 83, 147, 0.8),
    inset 0 0 10px 5px rgba(68, 83, 147, 0.8);
}

.teacher > h2 {
  grid-area: name;
}

.teacher-house {
  grid-area: house;
}

.teacher-patronus {
  grid-area: patronus;
  margin: 0;
  margin-top: 3px;
  visibility: hidden;
  background-image: linear-gradient(
    to right,
    #ce373d,
    #ce373d,
    #377f6a,
    #e6a038,
    #445393,
    #445393
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.teacher:hover > .teacher-patronus {
  visibility: visible;
}

/* .teacher-image {
  max-height: 150px;
  grid-area: image;
  display: flex;
  justify-content: center;
} */

img {
  max-height: 150px;
  grid-area: image;
  display: flex;
  justify-content: center;
}

.delete-btn {
  border: none;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 200px;
  border-radius: 8px;
  background-color: #e6a038;
  grid-area: delete-btn;
  margin-bottom: 5px;
}

.delete-btn:hover {
  opacity: 60%;
}

.edit-btn {
  border: none;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 200px;
  border-radius: 8px;
  background-color: #e6a038;
  grid-area: edit-btn;
  margin-bottom: 5px;
}

.edit-btn:hover {
  opacity: 60%;
}

.teacher-gryffindor {
  background-color: #ce373d;
  list-style-type: none;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas:
    "name image"
    "house image"
    "patronus image"
    "delete-btn image"
    "edit-btn image";
  text-align: left;
  border: 1px solid rgba(68, 83, 147, 0.8);
  transition: transform 500ms ease-in-out;
}

.teacher-gryffindor:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(68, 83, 147, 0.8),
    inset 0 0 10px 5px rgba(68, 83, 147, 0.8);
}

.teacher-slytherin {
  background-color: #377f6a;
  list-style-type: none;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas:
    "name image"
    "house image"
    "patronus image"
    "delete-btn image"
    "edit-btn image";
  text-align: left;
  border: 1px solid rgba(68, 83, 147, 0.8);
  transition: transform 500ms ease-in-out;
}

.teacher-slytherin:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(68, 83, 147, 0.8),
    inset 0 0 10px 5px rgba(68, 83, 147, 0.8);
}

.teacher-hufflepuff {
  background-color: #e6a038;
  list-style-type: none;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas:
    "name image"
    "house image"
    "patronus image"
    "delete-btn image"
    "edit-btn image";
  text-align: left;
  border: 1px solid rgba(68, 83, 147, 0.8);
  transition: transform 500ms ease-in-out;
}

.teacher-hufflepuff:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(68, 83, 147, 0.8),
    inset 0 0 10px 5px rgba(68, 83, 147, 0.8);
}

.teacher-hufflepuff > .delete-btn {
  background-color: #251a08;
  color: white;
}

.teacher-hufflepuff > .edit-btn {
  background-color: #251a08;
  color: white;
}

.teacher-ravenclaw {
  background-color: #445393;
  color: white;
  list-style-type: none;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-areas:
    "name image"
    "house image"
    "patronus image"
    "delete-btn image"
    "edit-btn image";
  text-align: left;
  border: 1px solid rgba(68, 83, 147, 0.8);
  transition: transform 500ms ease-in-out;
}

.teacher-ravenclaw:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(68, 83, 147, 0.8),
    inset 0 0 10px 5px rgba(68, 83, 147, 0.8);
}

.teacher-gryffindor:hover > .teacher-patronus {
  visibility: visible;
  background-image: linear-gradient(to right, white, #e6a038, white, #e6a038);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.teacher-slytherin:hover > .teacher-patronus {
  visibility: visible;
  background-image: linear-gradient(to right, white, #e6a038, white, #e6a038);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.teacher-hufflepuff:hover > .teacher-patronus {
  visibility: visible;
  background-image: linear-gradient(
    to right,
    #ce373d,
    #ce373d,
    #377f6a,
    #445393,
    #445393
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.teacher-ravenclawn:hover > .teacher-patronus {
  visibility: visible;
  color: white;
}
