* {
  margin: 0;
  padding: 0;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
}

:root {
  --primary-clr: #0d0d10;
  --secundary-clr: #a92332;
  --hoover-button-clr: #1c7351;
  --button-clr: #eaaf1c;
  --fifth-clr: #02649e;
  --sixth-clr: #293454;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.create-student-container {
  background-image: url(./images/oldpaper.jpg);
  text-align: center;
  width: 30em;
  height: 25rem;
  padding: 2em;
}

.exit-btn-container {
  display: flex;
  justify-content: flex-end;
}

.exit-btn {
  width: 1.5em;
}

.create-student-header {
  margin-bottom: 1.5em;
}

.create-name-input,
.create-house-input,
.create-age-input,
.create-alive-input {
  margin: 1em;
  width: 80%;
  border-radius: 17px;
  height: 33px;
  padding-left: 1em;
}

::placeholder {
  text-transform: uppercase;
  font-family: mr-darcy, sans-serif;
}

.default-student-img {
  width: 100px;
  height: 100px;
}

.save-student-btn {
  margin-top: 2em;
  padding: 0.7em;
  width: 20em;
  border-radius: 10px;
  background-color: var(--button-clr);
  border: none;
}

.save-student-btn:hover {
  background-color: var(--hoover-button-clr);
  color: var(--button-clr);
}

.student-list {
  background-color: rgb(170, 56, 56);
  width: 200px;
  /* height: 200px; */
}

/* .slytherin-student-list {
  background-color: green;
  width: 200px;
}

.ravenclaw-student-list {
  background-color: rgb(43, 43, 90);
  width: 200px;
}

.huffelpuff-student-list {
  background-color: #eaaf1c;
  width: 200px;
} */
